doctype html
html
  head
    include ./includes/scripts.jade
    include ./includes/styles.jade
    block title
  body
    include ./includes/navbar.jade
    block content
    include ./includes/foot.jade
    block script
