// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    max-width: 960px;
    margin: 0 auto;
}

section {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
}

h1 {
    font-size: 40px;
}

.review-details {
    width: 90%;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
}

.form-label {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

input {
    margin: 10px 0;
    padding: 5px;
    width: 20%;
    border: 1px solid #e4e4e4;
}

.text-area {
    min-height: 150px;
    width: 50%;
    border: 1px solid #e4e4e4;
}

.button {
    border: none;
    background: #0088CC;
    height: 45px;
    width: 120px;
    text-align: center;
    margin: 10px 100px;
    color: #FFF;
    font-size: 13px;
}
