<div class="thumbnail">
    <div class="media">

        <div class="media-left">
            <%= image_tag book.image, class: "media-object thumbnail" %>
            <p class="text-center">
                <span class="label label-info">
                    <i class="glyphicon glyphicon-heart"></i> 42 hearts
                </span>
            </p>
        </div>

        <div class="media-body panel panel-default">

            <div class="panel-heading clearfix">

                <div class="pull-left">
                    <h4 class="media-heading text-primary"><em><%= book.title %></em></h4>
                    <h5 class="text-muted">by <%= book.author %></h5>
                </div>

                <button class="btn btn-xs btn-danger pull-right">
                    <i class="glyphicon glyphicon-heart"></i> this book!
                </button>

            </div> <!-- end panel-heading clearfix -->

            <div class="panel-body">
                <blockquote>
                    <em><p class="sans-serif"><%= book.first_words %></p></em>
                </blockquote>
            </div>

        </div> <!-- end panel -->
    </div> <!-- end media container -->
</div> <!-- end thumbnail container -->
