<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <!-- header -->
        <div class="page-header">
            <h1 class="text-danger"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> good reads</h1>
        </div>
        <!-- end header -->

        <div id="books-list">
            <%= render @books %>
        </div>

    </div> <!-- end column -->
</div> <!-- end row -->
