.ui.menu
  a.header.item(href="/")
    i.newspaper.icon
    | Blogger
  a.item(href="/posts")
    | View posts
  .right.menu
    .header
      | Support
    a.item
      | FAQ
    a.item
      | E-mail Support
