//variables
$basewidth: 600px;
$maincolor: #6f6;
$mainfont: Helvetica, sans-serif;

@mixin border-radius($radius) {
  border-radius: $radius;
}

body {
  background-image: url(starrynight.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .main {
    background-color: white;
    width: $basewidth / 960px * 100%;
    margin: 0 auto;
    font-family: $mainfont;
    @include border-radius(15px);

    .painting {
      background-color: darken($maincolor, 50%);
      color: lighten($maincolor, 20%);
      transition:width 2s, height 2s, background-color 2s, transform 2s;
    }

    .details {
      background-color: $maincolor;

      &:last-child {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }
}